h1{
    border: solid 1px;
    margin: 10px;
    /* margin: 20px 30px;
    margin: 40px 50px 60px 70px;
    margin-top: 80px;
    margin-bottom: 90px;
    margin-left: 100px;
    margin-right: 110px; */


    padding: 10px;
    /* padding: 20px 30px;
    padding: 40px 50px 60px 70px;
    padding-top: 80px;
    padding-bottom: 90px;
    padding-left: 100px;
    padding-right: 110px; */
}

a{    
    border: solid 2px;
    margin: 50px;
    padding: 50px;
}